<div class="columns m-0">
  <div
    class="column is-align-content-center is-align-items-center is-align-self-center is-main is-100-vh is-35-vh-mobile "
  >
    <app-currency-input
      [loading]="loading"
      [currency]="currency"
      (onChange)="inputChange($event)"
    ></app-currency-input>
  </div>
  <div
    class="column is-align-content-center is-align-items-center is-align-self-center is-100-vh p-0 pr-1"
  >
    <app-currencies
    [currencies]="currencies"
    (currencySelected)="currencySelected($event)"
    ></app-currencies>
  </div>
</div>
