<!-- image is-16x16

16x16px
image is-24x24

24x24px
image is-32x32

32x32px
image is-48x48

48x48px
image is-64x64

64x64px
image is-96x96

96x96px
image is-128x128

128x128px -->
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Card header
      <figure class="image is-128x128">
        <img
          class="is-rounded"
          src="https://bulma.io/images/placeholders/128x128.png"
        />
      </figure>
    </p>
    <p class="card-header-icon" aria-label="more options">amount</p>
  </header>
</div>
