<!-- image is-16x16

16x16px
image is-24x24

24x24px
image is-32x32

32x32px
image is-48x48

48x48px
image is-64x64

64x64px
image is-96x96

96x96px
image is-128x128

128x128px -->
<div class="card">
  <header class="card-header">
    <p class="card-header-title m-4 column is-one-fifth is-one-fifth-mobile">
      {{ currency.key }}
    </p>
    <figure class="image is-48x48 mr-4 column is-two-fifth is-two-fifth-mobile">
      <div
        class="image is-48x48 mr-4 is-rounded currency-flag currency-flag-{{
          currency.key.toLowerCase()
        }}"
      ></div>
    </figure>
    <p class="card-header-icon m-4 column is-two-fifth is-two-fifth-mobile has-text-right" aria-label="more options">
      {{ currency.value | currency: currency.key:"symbol-narrow":".2-2" }}
    </p>
  </header>
</div>
