
  <div
    class="column is-full is-align-content-center is-align-items-center is-align-self-center"
  >
    <figure class="image is-128x128">
      <img
        class="is-rounded"
        src="https://bulma.io/images/placeholders/128x128.png"
      />
    </figure>
  </div>
  <div
    class="column is-full is-align-content-center is-align-items-center is-align-self-center"
  >
    <div class="control" [ngClass]="{'is-loading': loading}">
      <input class="input" type="text" placeholder="Loading input" (keydown)="inputChange($event)">
    </div>
  </div>

