<div
  class="is-margin-top column is-full is-align-content-center is-align-items-center is-align-self-center"
>
  <div
    class="image is-64x64 m-auto is-rounded currency-flag currency-flag-eur"
  ></div>

  <form [formGroup]="form">
    <div class="control" [ngClass]="{ 'is-loading': loading }">
      <input
        value="1"
        class="mt-4 is-width-100"
        type="number"
        min="1"
        max="100000000000000000000"
        formControlName="amount"
        placeholder="Enter Amount"
      />
      <!-- (keydown)="inputChange($event)" -->
    </div>
    <p *ngIf="form.get('amount')?.errors" class="mt-4 has-text-centered is-danger">{{error}}</p>
    <p class="is-sub-header mt-4 has-text-centered">EUR</p>
  </form>
</div>
