<div
  class="is-margin-top column is-full is-align-content-center is-align-items-center is-align-self-center"
>
  <div
    class="image is-64x64 m-auto is-rounded currency-flag currency-flag-eur"
  ></div>
</div>
<div
  class="column is-full "
>
  <form [formGroup]="form">
    <div class="control" [ngClass]="{ 'is-loading': loading }">
      <input
        value="1"
        class="input"
        type="number"
        min="1"
        formControlName="amount"
        placeholder="Loading input"
      />
      <!-- (keydown)="inputChange($event)" -->
    </div>
    <p class="is-sub-header has-text-centered">EUR</p>
  </form>
</div>
