/* You can add global styles to this file, and also import other style files */
:root {
  --main: #456cd0;
  $family-sans-serif: "Roboto", sans-serif;
}
::-webkit-scrollbar-thumb:hover {
  background: #353c4b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #fff;
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6e7580;
  border-radius: 15px;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
:focus-visible {
  outline: 0px !important;
}
html {
  width: 100vw;
  height: 100vh;
  // background: var(--main) !important;
}
body {
  font-family: "Roboto", sans-serif !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: -0.5vw;
  opacity: 0;
}

input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid white !important;
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  text-align: center !important;
  font-size: 50px !important;
  font-weight: 700;
  padding: 0px !important;
  line-height: 58.59px !important;
  font-family: "Roboto", sans-serif !important;
}
.currency-flag {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  display: block !important;
}
.is-rounded {
  border-radius: 50%;
}
.is-sub-header {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  size: 16px;
  line-height: 18.75px;
  color: rgba(255, 255, 255, 0.4);
}
.is-width-100 {
  width: 100%;
}
.is-danger {
  color: #ff0000;
}
.is-main {
  background: var(--main);
}
.is-scrollable {
  overflow: scroll;
  max-height: 100vh;
}
.is-100-vh {
  height: 100vh;
}
.is-margin-top {
  margin-top: 30vh;
}
.is-pointer {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .is-margin-top {
    margin-top: 1vh;
  }
  .is-100-vh {
    height: 60vh !important;
  }
  .is-100-vh.is-35-vh-mobile {
    height: 40vh !important;
  }
  .is-scrollable {
    max-height: -webkit-fill-available;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin: -0.5vw !important;
    opacity: 0;
  }
}
